{% extends "base.html" %}


{% block content %}
<ul>
    <h2>{{ post.title }}</h2>
    <li><p>{{ post.content }}</p></li>
    <li><a href="{% url "posts:edit" post_id=post.id %}"><b>Edit</b></a></li>
    <li><a href="{% url "posts:delete" post_id=post.id %}"><b>Delete</b></a></li>
</ul>

<h2>Comments ( {{ post.comment_set.count }} )</h2>
<ul>
    {% for comment in post.comment_set.all %}
    <li id="comment-{{ comment.id }}">
        {{ comment.user.username }} -
        {{ comment.content }}
        <a href="{% url "posts:comments-edit" post_id=post.id comment_id=comment.id %}"> Edit</a>
        <a href="{% url "posts:comments-delete" post_id=post.id comment_id=comment.id %}">Delete</a>
    </li>
    {% endfor %}
</ul>


<h2>New Comment</h2>
<form action="/posts/{{ post.id }}/comments/create/" method="POST">
    {% csrf_token %}
    <input type="text" name="content" placeholder="댓글">
    <input type="submit" value="댓글 달기">
</form>
{% endblock %}
